html{
  font-family:Eina,"Helvetica Neue",Helvetica,sans-serif;
  font-weight: 600;
  font-size: 6vw;
}

.main{
  text-align:center;
        display: table-cell;
        width: 100vw;
        height: 90vh;
        vertical-align: middle;
}

 .color{
   animation-duration: 60s;
   animation-name: color;
   color: black;
   animation-iteration-count: infinite;
}

 .color2{
   animation-duration: 5s;
   animation-name: color2;
   color: red;
   animation-iteration-count: infinite;
}

@keyframes color2{
  0%{
    color:red;
  }
  50%{
    color:darkRed;
  }
  100%{
    color:red;
  }
}
